<h2>Add Shop</h2>

<form class="form-group" action="/shop/add" method="post">
	<div class="form-group form_container">


	<div class="form-group form_container">

		<div class="form-group row space-bottom">
			<label for="shop" class="col-sm-1 col-form-label">Name</label>
			<div class="col-sm-6">
				<input class="form-control" type="text" name="shop" id="">	
    		</div>
		</div>
	</div>

	</div>

	<div class="btn btn-primary">
		<input type="submit">
	</div>

</form>
